arxiv
black
click
flake8
git+https://github.com/akitenkrad/attrdict.git#egg=attrdict
googletrans=3.1.0a0
ipython
ipywidgets
isort
jupyterlab
mypy
nltk
numpy
openai
pandas
plotly
progressbar
py-cpuinfo
pypdf
pytest
python-dateutil
pytz
requests
scikit-learn
scipy
slackweb
sumeval
tqdm
types-PyYAML
types-python-dateutil
types-pytz
types-requests
types-requests
typing-extensions