<link rel="stylesheet" href="{{"/blog-akitenkrad/katex/katex.min.css" | absURL }}">
<script type="text/javascript" defer src="{{"/blog-akitenkrad/katex/katex.min.js" | absURL }}"></script>
<script type="text/javascript" defer src="{{"/blog-akitenkrad/katex/auto-render.min.js" | absURL }}" onload="renderMathInElement(document.body);">
    renderMathInElement(
        document.body,
        {
            delimiters: [
                {left: "$$", right: "$$", display: true},
                {left: "\\[", right: "\\]", display: true},
                {left: "$", right: "$", display: false},
                {left: "\\(", right: "\\)", display: false}
            ]
        }
    );
</script>
