<script type="text/javascript" src="{{"/akitenkrad-blog/js/jquery-3.4.1.min.js" | absURL }}"></script>
<script type="text/javascript" src="{{"/akitenkrad-blog/js/popper.min.js" | absURL }}"></script>
<script type="text/javascript" src="{{"/akitenkrad-blog/js/bootstrap.min.js" | absURL }}"></script>

<script type="text/javascript" src="{{"/akitenkrad-blog/js/navbar.js" | absURL }}"></script>
<script type="text/javascript" src="{{"/akitenkrad-blog/js/plyr.js" | absURL }}"></script>
<script type="text/javascript" src="{{"/akitenkrad-blog/js/main.js" | absURL }}"></script>
