<script type="text/javascript" src="{{"/blog-akitenkrad/js/jquery-3.4.1.min.js" | absURL }}"></script>
<script type="text/javascript" src="{{"/blog-akitenkrad/js/popper.min.js" | absURL }}"></script>
<script type="text/javascript" src="{{"/blog-akitenkrad/js/bootstrap.min.js" | absURL }}"></script>

<script type="text/javascript" src="{{"/blog-akitenkrad/js/navbar.js" | absURL }}"></script>
<script type="text/javascript" src="{{"/blog-akitenkrad/js/plyr.js" | absURL }}"></script>
<script type="text/javascript" src="{{"/blog-akitenkrad/js/main.js" | absURL }}"></script>
