<style>
    ul.fa-arrow-right-list {
        padding: 0.5em 1em 0.5em 2.3em;
        position: relative;
    }

    ul.fa-arrow-right-list li.fa-arrow-right-list {
        line-height: 1.5;
        padding: 0.5em 0;
        list-style-type: none !important;
    }

    li.fa-arrow-right-list:before {
        font: var(--fa-font-solid);
        content: "\f061";
        position: absolute;
        padding-top: 5pt;
        left: 1em;
        color: rgb(62, 64, 65);
    }
</style>

<ul class="fa-arrow-right-list">
    {{ range $idx, $val := split .Inner "---" }}
    <li class="fa-arrow-right-list">{{ $val | markdownify }}</li>
    {{ end }}
</ul>